src/main/resources/META-INF/paymentInit.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="PaymentServiceImplService" targetNamespace="urn:sips:cn:contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:sips:cn:contract" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:sips:cn:contract" version="1.0" xmlns:tns="urn:sips:cn:contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Request" nillable="true" type="xs:anyType" />
<xs:element name="Response" nillable="true" type="xs:anyType" />
<xs:element name="processPaymentWebInit" type="tns:processPaymentWebInit" />
<xs:element name="processPaymentWebInitResponse" type="tns:processPaymentWebInitResponse" />
<xs:element name="processWalletManagementInit" type="tns:processWalletManagementInit" />
<xs:element name="processWalletManagementInitResponse" type="tns:processWalletManagementInitResponse" />
<xs:complexType name="processPaymentWebInit">
    <xs:sequence>
      <xs:element minOccurs="0" name="input" type="tns:paymentWebInitInput" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="paymentWebInitInput">
    <xs:complexContent>
      <xs:extension base="tns:input">
        <xs:sequence>
          <xs:element minOccurs="0" name="request">
            <xs:complexType>
              <xs:all>
                <xs:element form="unqualified" minOccurs="0" name="automaticResponseUrl" type="xs:anyURI" />
                <xs:element form="unqualified" minOccurs="0" name="captureDay" type="xs:short" />
                <xs:element form="unqualified" minOccurs="0" name="captureMode" type="xs:string" />
                <xs:element form="unqualified" name="currencyCode" type="xs:string" />
                <xs:element form="unqualified" minOccurs="0" name="customerEmail" type="xs:string" />
                <xs:element form="unqualified" minOccurs="0" name="customerId" type="xs:string" />
                <xs:element form="unqualified" minOccurs="0" name="customerLanguage" type="xs:string" />
                <xs:element form="unqualified" name="requestVersion" type="xs:string" />
                <xs:element form="unqualified" name="merchantId" type="xs:string" />
                <xs:element form="unqualified" minOccurs="0" name="merchantSessionId" type="xs:string" />
                <xs:element form="unqualified" minOccurs="0" name="merchantTransactionDateTime" type="xs:dateTime" />
                <xs:element form="unqualified" minOccurs="0" name="merchantWalletId" type="xs:string" />
                <xs:element form="unqualified" name="normalReturnUrl" type="xs:anyURI" />
                <xs:element form="unqualified" name="orderAmount" type="xs:long" />
                <xs:element form="unqualified" name="orderChannel" type="xs:string" />
                <xs:element form="unqualified" minOccurs="0" name="orderId" type="xs:string" />
                <xs:element form="unqualified" minOccurs="0" name="paymentMeans" type="xs:string" />
                <xs:element form="unqualified" minOccurs="0" name="returnContext" type="xs:string" />
                <xs:element form="unqualified" minOccurs="0" name="templateFile" type="xs:string" />
                <xs:element form="unqualified" name="transactionReference" type="xs:string" />
                <xs:element form="unqualified" minOccurs="0" name="userId" type="xs:string" />
              </xs:all>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType abstract="true" name="input">
    <xs:sequence />
  </xs:complexType>
<xs:complexType name="processPaymentWebInitResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="output" type="tns:paymentWebInitOutput" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="paymentWebInitOutput">
    <xs:complexContent>
      <xs:extension base="tns:output">
        <xs:sequence>
          <xs:element minOccurs="0" name="response">
            <xs:complexType>
              <xs:all>
                <xs:element form="unqualified" minOccurs="0" name="redirectionData" type="xs:string" />
                <xs:element form="unqualified" minOccurs="0" name="redirectionStatusCode" type="xs:string" />
                <xs:element form="unqualified" minOccurs="0" name="redirectionStatusMessage" type="xs:string" />
                <xs:element form="unqualified" minOccurs="0" name="redirectionUrl" type="xs:anyURI" />
                <xs:element form="unqualified" minOccurs="0" name="redirectionVersion" type="xs:string" />
              </xs:all>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType abstract="true" name="output">
    <xs:sequence />
  </xs:complexType>
<xs:complexType name="processWalletManagementInit">
    <xs:sequence>
      <xs:element minOccurs="0" name="input" type="tns:walletManagementInitInput" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="walletManagementInitInput">
    <xs:complexContent>
      <xs:extension base="tns:input">
        <xs:sequence>
          <xs:element minOccurs="0" name="request">
            <xs:complexType>
              <xs:all>
                <xs:element form="unqualified" minOccurs="0" name="automaticResponseUrl" type="xs:anyURI" />
                <xs:element form="unqualified" minOccurs="0" name="customerLanguage" type="xs:string" />
                <xs:element form="unqualified" name="merchantId" type="xs:string" />
                <xs:element form="unqualified" minOccurs="0" name="merchantSessionId" type="xs:string" />
                <xs:element form="unqualified" name="merchantWalletId" type="xs:string" />
                <xs:element form="unqualified" name="normalReturnUrl" type="xs:anyURI" />
                <xs:element form="unqualified" name="requestVersion" type="xs:string" />
                <xs:element form="unqualified" minOccurs="0" name="templateFile" type="xs:string" />
              </xs:all>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="processWalletManagementInitResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="output" type="tns:walletManagementInitOutput" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="walletManagementInitOutput">
    <xs:complexContent>
      <xs:extension base="tns:output">
        <xs:sequence>
          <xs:element minOccurs="0" name="response">
            <xs:complexType>
              <xs:all>
                <xs:element form="unqualified" minOccurs="0" name="redirectionData" type="xs:string" />
                <xs:element form="unqualified" minOccurs="0" name="redirectionStatusCode" type="xs:string" />
                <xs:element form="unqualified" minOccurs="0" name="redirectionStatusMessage" type="xs:string" />
                <xs:element form="unqualified" minOccurs="0" name="redirectionUrl" type="xs:anyURI" />
                <xs:element form="unqualified" minOccurs="0" name="redirectionVersion" type="xs:string" />
              </xs:all>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="processWalletManagementInit">
    <wsdl:part element="tns:processWalletManagementInit" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processPaymentWebInitResponse">
    <wsdl:part element="tns:processPaymentWebInitResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processWalletManagementInitResponse">
    <wsdl:part element="tns:processWalletManagementInitResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processPaymentWebInit">
    <wsdl:part element="tns:processPaymentWebInit" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PaymentService">
    <wsdl:operation name="processPaymentWebInit">
      <wsdl:input message="tns:processPaymentWebInit" name="processPaymentWebInit">
    </wsdl:input>
      <wsdl:output message="tns:processPaymentWebInitResponse" name="processPaymentWebInitResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processWalletManagementInit">
      <wsdl:input message="tns:processWalletManagementInit" name="processWalletManagementInit">
    </wsdl:input>
      <wsdl:output message="tns:processWalletManagementInitResponse" name="processWalletManagementInitResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentServiceImplServiceSoapBinding" type="tns:PaymentService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="processPaymentWebInit">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="processPaymentWebInit">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="processPaymentWebInitResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processWalletManagementInit">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="processWalletManagementInit">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="processWalletManagementInitResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentServiceImplService">
    <wsdl:port binding="tns:PaymentServiceImplServiceSoapBinding" name="cnv1PaymentServiceImplPort">
      <soap:address location="http://localhost:8888/services/v1/paymentInit" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>